@model SuitTestView
@{
    ViewData["Title"] = "ToolBox";
}
<style>
    /* CSS animation for typing effect */
    @@keyframes typing {
        from {
            width: 0;
        }
    }

    /* CSS animation for backspace effect */
    @@keyframes backspace {
        to {
            width: 0;
        }
    }

    /* CSS animation for console cursor */
    @@keyframes blink {
        50% {
            background-color: transparent;
        }
    }

    /* Console output and cursor styling */
    .console-output {
        display: inline-block;
        background-color: black;
        color: lime;
        font-family: monospace;
        /*padding: 4px;*/
    }

    .console-cursor {
        display: inline-block;
        width: 2px;
        height: 16px;
        background-color: lime;
        animation: blink 1s infinite;
    }

    .animated-card {
        animation-name: cardPopUp;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
    }

    @@keyframes cardPopUp {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    .card.hidden {
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    .card.visible {
        opacity: 1;
    }
</style>
<!--TOOLBOX-->
<div class="container-fluid p-2 mb-3" id="toolBox">
    <!--TOOL-LOAD-SELECTION-->
    <div class="row text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle">
        <!--TOOLBOX-HEADING-->
        <div class="col-12 bg-dark-subtle border-bottom border-light-subtle opacity-10">
            <div class="row d-flex align-items-center">
                <!--TOOLBOX-HEADING-LEFT-->
                <div class="col">
                    <p class="h2 p-1 text-light-emphasis d-flex align-items-center justify-content-start">
                        TOOLBOX
                        <span class="p-2 text-end">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                                 class="bi bi-hammer" viewBox="0 0 16 16">
                                <path d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5.009 5.009 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334z" />
                            </svg>
                        </span>
                    </p>
                </div>
                <div class="col">
                    <div class="text-center pulse-animation collapse show" id="promptLoadTool">
                        <h1 class="display-8">Click Load Tool...</h1>
                    </div>
                </div>
                <!--TOOLBOX-HEADING-RIGHT-->
                <div class="col">
                    <p class="h4 text-secondary-emphasis d-flex flex-row align-items-center justify-content-end">
                        IDR SUIT
                        <span class="p-2">
                            <i class="bi bi-stack"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <!--TOOLBOX-LOAD-SELECTION-->
        <div class="row gap-2">
            <div class="col card-column">
                <!--RECORDING-TOOL-->
                <div class="col-12 p-2">
                    <!--RECORDING-TOOL-CARD-->
                    <div class="card animated-card hidden">
                        <h4 class="card-header bg-info-subtle text-white">RECORDER</h4>
                        <div class="card-body bg-dark-subtle text-emphasis-dark">
                            <h6 class="card-title">Record, Benchmark & Run Playback</h6>
                            <p class="card-text">
                                Record a new playback used to <em>Automate</em> your testing
                                processes.
                            </p>
                        </div>
                        <div class="card-footer bg-dark text-emphasis-dark">
                            <div class="row g-3">
                                <div class="btn-group align-items-end" role="group" aria-label="recorderTool"
                                     style="margin-bottom:0;">
                                    <button href="#recorderTool" type="button" class="btn btn-outline-success"
                                            data-bs-toggle="collapse" data-bs-target="#recorderTool"
                                            aria-controls="recorderTool" aria-expanded="false" aria-label="recorderTool"
                                            id="recordLoad">
                                        <i class="bi bi-box-arrow-in-down"></i> Load Tool
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--RECORDING-TOOL-CONTENT-->
                    <div class="collapse" id="recorderTool">
                        <div class="row p-2">
                            <!--RECORDER-HEADING-->
                            <div class="col-12 p-2">
                                <div class="border-top border-bottom border-dark d-flex align-items-center justify-content-left">                                    
                                    <form id="selectRecorder">
                                        <div class="mb-3">
                                            <label for="recoders" class="form-label">Selected Recorder</label>
                                            <div class="input-group mb-3">
                                                <select class="form-select" aria-label="selectRecorder">
                                                    <option selected>Select Recorder</option>
                                                    @foreach (var recorder in Model.TestView!)
                                                    {
                                                        <option value="@recorder.TestUrl">@recorder.TestName</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Recorder Controls:</label>
                                            <div class="input-group mb-3">
                                                <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
                                                    <button type="button" class="btn btn-outline-success" id="startWebDriver" disabled>
                                                        Start
                                                    </button>
                                                    <button type="button" class="btn btn-outline-danger" id="stopWebDriver" disabled>Stop</button>
                                                    <button type="button" class="btn btn-outline-info" id="saveWebDriver" disabled>Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!--RECORDER-TAB-NAVIGATION-->
                            <div class="col-12">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a href="#0" class="nav-link active" data-bs-toggle="tab" data-bs-target="#record"
                                           aria-controls="record" aria-selected="false">Setup New Recorder</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#0" class="nav-link" data-bs-toggle="tab" data-bs-target="#recorderManage"
                                           aria-controls="config" aria-selected="false">Manage Recorders</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#0" class="nav-link" data-bs-toggle="tab" data-bs-target="#config"
                                           aria-controls="config" aria-selected="false">Advanced</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <!--RECORDER-TAB-CONTENT-->
                                <div class="tab-content p-2">
                                    <div class="tab-pane fade show active" id="record">
                                        <!--NEW-RECORDER-HEADING-->
                                        <div class="text-body-secondary p-2">
                                            <figure>
                                                <blockquote class="blockquote">
                                                </blockquote>
                                                <figcaption class="blockquote-footer">
                                                    <p class="lead h5">
                                                        Setup New Recorder<br>
                                                        <small class="text-body-secondary font-monospace">
                                                            Setup recorder & begin interacting with the targeted Website/Web-Application to generate your automated test.
                                                        </small>
                                                </figcaption>
                                            </figure>
                                            <form id="createTest">
                                                <div class="row g-2">
                                                    <hr>
                                                    <div class="col-md-6 col-12">
                                                        <div class="input-group">
                                                            <div class="form-floating">
                                                                <select class="form-select" asp-for="TestCreateView!.SuitName" id="suitNameSelect" aria-label="selectSuitLabel" required>
                                                                    @foreach (var suit in Model.SuitView!)
                                                                    {
                                                                        <option value="@suit.SuitName">@suit.SuitName | @suit.SuitPlan</option>
                                                                    }
                                                                </select>
                                                                <label>Selected Testing Suit</label>
                                                            </div>
                                                            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#createNewSuit" aria-controls="createNewSuit">Register Suit</button>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="input-group">
                                                            <div class="form-floating">
                                                                <select class="form-select" asp-for="TestCreateView!.TestType" id="floatingSelect" aria-label="Floating label select example" required>
                                                                    <option value="Default" selected>(Default) Generic Type</option>
                                                                    <option value="InputsForms">Inputs & Forms</option>
                                                                    <option value="MediaImages">Media Players & Images</option>
                                                                </select>
                                                                <label asp-for="TestCreateView!.TestType">Select a Test Type</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-floating">
                                                            <input type="text" asp-for="TestCreateView!.TestName" class="form-control" id="floatingPassword" placeholder="Password" required>
                                                            <label asp-for="TestCreateView!.TestName">Test Name</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-floating">
                                                            <input type="text" asp-for="TestCreateView!.TestDescription" class="form-control" id="floatingPassword" placeholder="Password" required>
                                                            <label asp-for="TestCreateView!.TestDescription">Test Description</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-floating">
                                                            <input type="text" asp-for="TestCreateView!.TestUrl" class="form-control" id="floatingPassword" placeholder="Password" required>
                                                            <label asp-for="TestCreateView!.TestUrl">Test URL</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="input-group mb-3">
                                                            <div class="form-floating">
                                                                <select class="form-select" asp-for="TestCreateView!.TestWebDriver" id="TestWebDriver" aria-label="TestWebDriver" required>
                                                                    <option selected>Chrome (114.0.5735.90)</option>
                                                                </select>
                                                                <label asp-for="TestCreateView!.TestWebDriver">Select Preferred WebDriver</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="p-2">
                                                    <input type="submit" class="btn btn-outline-info" value="Create" />
                                                </div>
                                            </form>
                                        </div>
                                        <hr>
                                    </div>
                                    <!--MANAGE-RECORDER-TAB-CONTENT-->
                                    <div class="tab-pane fade show" id="recorderManage">
                                        <!--RECORDER-MANAGE-HEADING-->
                                        <div class="text-body-secondary p-2">
                                            <figure>
                                                <blockquote class="blockquote">
                                                </blockquote>
                                                <figcaption class="blockquote-footer">
                                                    <p class="lead h5">
                                                        Manage Recorders<br>
                                                        <small class="text-body-secondary font-monospace">
                                                            Change equipped recorder, remove a recorder, update a recorder details and switch suits.
                                                        </small>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="row g-2">                                            
                                            <div class="list-group">
                                                @if(Model.TestView!.Count() <= 0)
                                                {
                                                    <div class="text-body-secondary p-2">
                                                        <p><i class="bi bi-asterisk"></i> NO RECORDERS FOUND!</p>
                                                        <p>Please Setup New Recorder.</p>
                                                    </div>
                                                }
                                                else
                                                {
                                                    @foreach (var recorder in Model.TestView!)
                                                    {
                                                        <hr>
                                                        <a class="list-group-item list-group-item-action disabled">@recorder.TestName</a>
                                                        <a href="#" class="list-group-item list-group-item-action" aria-current="false" data-bs-toggle="collapse"
                                                           data-bs-target="#@recorder.TestId" aria-expanded="false" aria-controls="@recorder.TestId">
                                                            Recorder Details <i class="bi bi-box-arrow-in-down"></i>
                                                        </a>
                                                        <div class="collapse collapse-horizontal" id="@recorder.TestId">
                                                            <div class="card card-body">
                                                                <form>
                                                                    <div class="mb-3">
                                                                        <label for="Suit" class="form-label">Suit</label>
                                                                        <div class="input-group mb-3">
                                                                            <select class="form-select" aria-label="Suit">
                                                                                <option selected>@recorder.SuitName</option>
                                                                                <option value="1">Can not change in current suit!</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="Driver" class="form-label">Web Driver</label>
                                                                        <div class="input-group mb-3">
                                                                            <select class="form-select" aria-label="WebDriver">
                                                                                <option selected>@recorder.TestWebDriver</option>
                                                                                <option value="1">Not available in current suit!</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="TestName" class="form-label">Test Name</label>
                                                                        <div class="input-group mb-3">
                                                                            <input type="text" class="form-control" placeholder="Recorder Name"
                                                                                   aria-describedby="recorder name property" value="@recorder.TestName">
                                                                        </div>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="TestType" class="form-label">Recorder Type</label>
                                                                        <div class="input-group mb-3">
                                                                            <select class="form-select" aria-label="Web Type">
                                                                                <option selected>@recorder.TestType</option>
                                                                                <option value="1">Can not change in current suit!</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="TestDescription" class="form-label">Description</label>
                                                                        <div class="input-group">
                                                                            <textarea class="form-control" aria-label="recorder description property">@recorder.TestDescription</textarea>
                                                                        </div>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="TestUrl" class="form-label">Recorder Start URL</label>
                                                                        <div class="input-group mb-3">
                                                                            <input type="text" class="form-control" placeholder="Recorder Start URL"
                                                                                   aria-describedby="recorder start property" value="@recorder.TestUrl">
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    }
                                                    }
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                    <!--CONFIGURATION-TAB-CONTENT(NOT IMPLEMENTED)-->
                                    <div class="tab-pane fade show" id="config">
                                        <h5>Not Implemented... <span><i class="bi bi-cone-striped"></i></span></h5>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
                <div class="offcanvas offcanvas-start" tabindex="-1" id="createNewSuit" aria-labelledby="createNewSuitLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="createNewSuitLabel">Register Suit</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <hr>
                        <div class="font-monospace">
                            <p><em>Please Select Suit Plan & Register Suit</em></p>
                        </div>
                        <form id="registerSuit">
                            <div class="row g-2">
                                <div class="col-12">
                                    <div class="input-group mb-3">
                                        <div class="form-floating">
                                            <input type="text" asp-for="SuitRegisterView!.SuitName" class="form-control" id="floatingSuitName" placeholder="Name" required>
                                            <label for="SuitName">Suit Name</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group mb-3">
                                        <div class="form-floating">
                                            <select class="form-select" asp-for="SuitRegisterView!.SuitPlan" id="selectPlans" aria-label="selectPlansLabel" required>
                                                <option value="Basic" selected>Basic</option>
                                                <option value="Premium">Premium</option>
                                                <option value="Enterprise">Enterprise</option>
                                            </select>
                                            <label for="SuitPlan">Select an available suit plan</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-outline-info">Register Suit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--PLAYBACK-TOOL-->
                <div class="col-12 p-2">
                    <!--PLAYBACK-TOOL-CARD-->
                    <div class="card animated-card hidden">
                        <h4 class="card-header bg-info-subtle text-white">PLAYBACK</h4>
                        <div class="card-body bg-dark-subtle text-emphasis-dark">
                            <h6 class="card-title">Manage & Interact With Your Playback</h6>
                            <p class="card-text">
                                Discover New Issues, Generate Fresh Reports or Test New Features with Old Infrastructure. Use Playbacks to <em>Automate</em> Your Testing & QA
                                Processes!
                            </p>
                        </div>
                        <div class="card-footer bg-dark text-emphasis-dark">
                            <div class="row g-3">
                                <div class="btn-group align-items-end" role="group" aria-label="playbackTool"
                                     style="margin-bottom:0;">
                                    <button href="#playbackTool" type="button" class="btn btn-outline-success"
                                            data-bs-toggle="collapse" data-bs-target="#playbackTool"
                                            aria-controls="playbackTool" aria-expanded="false" aria-label="playbackTool"
                                            id="playbackLoad">
                                        <i class="bi bi-box-arrow-in-down"></i> Load Tool
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--PLAYBACK-TOOL-CONTENT-->
                    <div class="collapse" id="playbackTool">
                        <div class="row p-2">
                            <!--PLAYBACK-HEADING-->
                            <div class="text-body-secondary">
                                <figure>
                                    <blockquote class="blockquote">
                                    </blockquote>
                                    <figcaption class="blockquote-footer">
                                        <p class="lead h5">
                                            Manage Recorded Playbacks<br>
                                            <small class="text-body-secondary">
                                                <ul class="list-unstyled">
                                                    <ul>
                                                        <li>Run recorded playbacks</li>
                                                        <li>View events & playback details</li>
                                                        <li>Remove a recorded playback</li>
                                                    </ul>
                                                </ul>
                                            </small>
                                    </figcaption>
                                </figure>
                            </div>
                            <!--PLAYBACK-BODY-->
                            <div class="list-group list-group-flush">    
                                    <a data-bs-toggle="collapse" href="#" role="button"
                                       aria-expanded="false" aria-controls="#"
                                       class="list-group-item list-group-item-action">
                                        <span class="lead font-monospace"> </span><span class="navbar-toggler-icon"></span>
                                    </a>
                                    <div class="collapse multi-collapse p-1" id="#">
                                        <div class="row">
                                            <div class="col d-flex align-items-center justify-content-center">
                                                <div class="d-flex p-2 align-items-center justify-content-center">
                                                    <button type="button" id="play"
                                                            class="btn btn-outline-primary button-click-animation align-items-center justify-content-start"
                                                            onclick="@Url.Action("Playback", "Dashboard", new { testName = "#" })">
                                                        <small>PLAY</small> <i class="bi bi-play-btn"></i>
                                                    </button>
                                                </div>
                                                <div class="d-flex p-2 align-items-center justify-content-center">
                                                    <button type="button"
                                                            class="btn btn-outline-info button-click-animation align-items-center justify-content-start">
                                                        <small>VIEW</small> <i class="bi bi-eye"></i>
                                                    </button>
                                                </div>
                                                <div class="d-flex p-2 align-items-center justify-content-center">
                                                    <button type="button"
                                                            class="btn btn-outline-danger button-click-animation align-items-center justify-content-start">
                                                        <small>REMOVE</small> <i class="bi bi-trash"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("_Console")
        </div>
    </div>
</div>
<!--TOAST-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="notification" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header" id="toastHeader">
            <strong class="me-auto"><i class="bi bi-play-circle"></i> Playback Tool</strong>
            <small>Just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            IDR Login Playback has started...
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@section Scripts {
    <script src="~/js/tool.js" asp-append-version="true"></script>
    <script src="~/js/console.js" asp-append-version="true"></script>
}